<header class="intro-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1><%- page.title %></h1>
					<span class="meta">
						<time datetime="<%= date_xml(page.date) %>" itemprop="datePublished">
							<%= date(page.date, 'MMMM Do YYYY') %>
						</time>
						<% if (page.tags && page.tags.length){ %>
							&bull;
							<%- list_tags(page.tags, {show_count: false, style: 'commas'}) %>
						<% } %>
					</span>
				</div>
			</div>
		</div>
	</div>
</header>

<article  id="<%= page.layout %>-<%= page.slug %>" class="article article-type-<%= page.layout %>" itemscope itemprop="blogPost">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<%- page.content %>
			</div>
		</div>
	</div>
</article>
